<button style="  margin-bottom: 10px;" [cModalToggle]="verticallyCenteredModal.id" cButton class="modal1-button" >
  <svg [cIcon]="icons.cilBullhorn" size="lg" title="List Icon"></svg>
  Create campaign
</button>


<table cTable [cBorder]="1" bordered >
  <thead cTableColor="dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Status</th>
    <th scope="col">Devices</th>
    <th scope="col">Routes</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td scope="row">1</td>
    <td>Mark</td>
    <td>Otto</td>
    <td>Otto</td>
    <td>&#64;mdo</td>
    <td>
      <svg [cIcon]="icons.cilPencil" size="lg" title="List Icon"></svg>
      <svg  [cIcon]="icons.cilTrash" size="lg" title="List Icon"></svg>
     
    </td>
   
  </tr>
  <tr>
    <td scope="row">2</td>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>Otto</td>
    <td>&#64;fat</td>
    <td>
      <svg [cIcon]="icons.cilPencil" size="lg" title="List Icon"></svg>
      <svg [cIcon]="icons.cilTrash" size="lg" title="List Icon"></svg>
     
    </td>
  </tr>
  <tr>
    <td scope="row">3</td>
    <td>Larry</td>
    <td>the Bird</td>
    <td>Otto</td>
    <td>&#64;twitter</td>
    <td>
      <svg [cIcon]="icons.cilPencil" size="lg" title="List Icon"></svg>
      <svg [cIcon]="icons.cilTrash" size="lg" title="List Icon"></svg>
     
    </td>
  </tr>
  </tbody>
</table>



<!-- form -->

<c-modal #verticallyCenteredModal alignment="center" id="verticallyCenteredModal" >
  <c-modal-header>
    <h5 cModalTitle>Add New Campaign</h5>
    <button [cModalToggle]="verticallyCenteredModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <form  cForm class="row g-3" ngNativeValidate>
      <!-- Nome da Campanha -->
      <c-col [md]="12">
        <label cLabel for="campaignName">Campaign Name</label>
        <input
          cFormControl
          id="campaignName"
          type="text"
          name="campaignName"
          required="true"
          placeholder="Campaign Name"
        />
      </c-col>
      
      <!-- Descrição -->
      <c-col [md]="12">
        <label cLabel for="description">Description</label>
        <textarea
          cFormControl
          id="description"
          name="description"
          required="true"
          placeholder="Description"
        ></textarea>
      </c-col>
      
      <!-- Dispositivo Associado -->
      <c-col [md]="6">
        <label cLabel for="device">Device</label>
        <select cSelect id="device" name="device" required="true">
          <option value="" disabled selected>Choose a device...</option>
          <!-- Supondo que há uma lista de dispositivos no controlador -->
          <option >Demo</option>
          <option >Demo1</option>
        </select>
      </c-col>

      <!-- Rota Associada -->
      <c-col [md]="6">
        <label cLabel for="route">Route</label>
        <select cSelect id="route" name="route" required="true">
          <option value="" disabled selected>Choose a route...</option>
          <!-- Supondo que há uma lista de rotas no controlador -->
          <option>Pretoria</option>
          <option>Gauteng</option>
        </select>
      </c-col>

      <!-- Data de Início -->
      <c-col [md]="6">
        <label cLabel for="startDate">Start Date</label>
        <input
          cFormControl
          id="startDate"
          type="date"
          name="startDate"
          required="true"
        />
      </c-col>

      <!-- Data de Término -->
      <c-col [md]="6">
        <label cLabel for="endDate">End Date</label>
        <input
          cFormControl
          id="endDate"
          type="date"
          name="endDate"
          required="true"
        />
      </c-col>

      <!-- Upload de Vídeo -->
      <c-col [md]="12">
        <label cLabel for="videoUpload">Upload de Vídeo</label>
        <input
          cFormControl
          id="videoUpload"
          type="file"
          accept="video/*"
      
          required="true"
        />
      </c-col>

      <!-- Botões de Ação -->
      <c-modal-footer>
        <button [cModalToggle]="verticallyCenteredModal.id" cButton color="secondary" >
          Close
        </button>
        <button cButton color="primary" class="modal1-button" type="submit">
          <svg [cIcon]="icons.cilSave" size="lg" title="List Icon"></svg>
          Save
        </button>
      </c-modal-footer>
    </form>
  </c-modal-body>
</c-modal>
