.login-container{
    // background: #09422c;
    background: url(../../../../assets/images/Illustrations_20MTN_20Media_20-01.png) no-repeat center center;
    object-fit: cover;
    // background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*#09422c   #1f2227  71c59e*/
// .login-box {
//     background: rgba(255, 255, 255, 0.1); /* Fundo semi-transparente */
//     padding: 30px;
//     border-radius: 12px;
//     backdrop-filter: blur(10px);
//     box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
//   }

  .login-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .login-logo img {
    width: 120px;
    height: 120px;
  }

  .form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-content h1, .form-content p {
    text-align: center;
    color: #fff;
  }
  // .c-input-group {
  //   width: 100%;
  //   max-width: 20rem;
  // }
  
  .login-btn {
    background-color: #71c59e; /* Verde Claro */
    border: none;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
  }

  .login-btn:hover {
    background-color: #e0ecbe; /* Pale Spring Bud */
    color: #09422c;
  }
.login-buttons{
    display: block;
    width: 100%;
}
  .forgot-password-btn {
    font-size: 14px;
    color: #e0ecbe !important;
  
  }
  
  .forgot-password-btn:hover {
    color: #fff !important;
  }
 
  .signup-link {
    color: #e0ecbe;
    font-size: 14px;
}

.signup-link a {
  color: #e0ecbe;
    font-weight: bold;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}