<div class=" login-container  min-vh-100 d-flex flex-column justify-content-center  align-items-center">
  <c-container breakpoint="md">
    <c-row class="justify-content-center">
      <!-- ?? -->
       
      <c-col lg="6" md="8" sm="10"> 



            <div class="login-box text-center">

            <!-- logo -->
              <div class="login-logo">
                <img src="./assets/images/LogoMediaconnkt.io.png" alt="Logo" srcset="" />
               </div>
           
               <!-- form -->
                <form cForm class="form-content">
                  <h1>Login</h1>
                  <p>Sign In to your account</p>
                  <c-input-group class="mb-3" >
                    <span cInputGroupText>
                      <svg cIcon name="cilUser"></svg>
                    </span>
                    <input autoComplete="username" cFormControl placeholder="Username" />
                  </c-input-group>
                  <c-input-group class="mb-4">
                    <span cInputGroupText>
                      <svg cIcon name="cilLockLocked"></svg>
                    </span>
                    <input
                      autoComplete="current-password"
                      cFormControl
                      placeholder="Password"
                      type="password"
                    />
                  </c-input-group>
                  <!-- button -->
                  
                      <button  cButton class="px-4 login-btn" style="width: 100%;" color="primary" routerLink="/dashboard">
                        Login
                      </button>
                  
                   
                      <div class="login-links">
                        <button cButton class="px-0 forgot-password-btn" color="link">Forgot password?</button>
                        <p class="signup-link">Don't have an account? <a routerLink="/register" >Sign up</a></p>
                      </div>
                   
                </form>
            </div>

      </c-col>
    </c-row>
  </c-container>
</div>
