
<!-- Navbar -->
  <div class="navbar ">
    <div class="header-inner-content">
      <h1 class="logo" style="margin-right: 120px;"><span>Mediaconnekt.io</span></h1>
      <nav>
        <ul>
          <li>Home</li>
          <li>About</li>
          <li>Service</li>
          <li>Contact</li>
          
           
         
        </ul>
      </nav>
      <!-- img -->
      <div class="nav-icon-container">
        <button class="btn sign-in" routerLink="/login">Sign In</button>
        <button class="btn sign-up" routerLink="/register">Sign Up</button>
      </div>
    </div>
  </div>

  <!-- Header -->
  <header>
    <!-- div apenas pra limitar -->
    <div class="header-iner-content">
      <div class="header-bottom-side">
        <div class="header-bottom-left">
          <h2>Give Your Work a New Style!</h2>
          <p>
            Success isn't always about greatness. It's about consistency. Consistent hard work trumps success. Greatness comes from
          </p>
          <button>Watch Now &#8594;</button>
        </div>

        <div class="header-bottom-right">
          <img src="./assets/images/avatars/gaming-msi-header.png" alt="pcgamer" srcset="" />
        </div>
      </div>
    </div>
  </header>
